
      * {
        box-sizing: border-box;
        font-family: "Times New Roman", Times, serif;
        text-align: center;
      }
      .header {
        background-color: #75aadb;
        width: 100%;
        float: left;
        height: 60px;
      }
      .footer {
        background-color: #75aadb;
        width: 100%;
        float: left;
        height: 40px;
      }
      .main {
        background-color: #fcbf49;
        width: 100%;
        float: left;
        height: auto;
      }
      .menu {
        background-color: #cccccc;
        width: 25%;
        float: left;
      }
      .dashboard {
        background-color: #879ab5;
        width: 50%;
        float: left;
      }
      .rss {
        background-color: #cccccc;
        width: 25%;
        float: left;
      }
      .principalGeneral{
        position: absolute;
        width: auto;
      }

    
    